.event-card-header {
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  font-weight: var(--bold-font);
  flex: 1;
}

.event-card {
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  background-color: var(--background);
}

.event-card-content {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.event-card-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: start;
  font-size: 0.8rem;
}

.event-card-footer {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 0.8rem;
  color: var(--text-color-secondary);
}

.event-card-container {
  display: flex;
  gap: 1rem;
}

.event-card-right-side {
  width: fit-content;
  max-width: 10%;
  flex-grow: 1;
}

.event-card-left-side {
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 90%;
}

.event-card-button {
  width: 100% !important;
  height: 100%;
  border-radius: 0 0.5rem 0.5rem 0;
  color: white;
  font-size: 2rem;
}

.event-card-button:hover {
  opacity: 0.8;
  color: white !important;
}
