.event-card-header {
  display: flex;
  font-size: 1.5rem;
  justify-content: space-between;
  font-weight: var(--bold-font);
  flex: 1;
}

.event-card {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  background-color: var(--background);
}

.event-card-content {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.event-card-body {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  text-align: start;
}

.event-card-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.event-card-container {
  display: flex;
  gap: 1.5rem;
}

.event-card-right-side {
  width: fit-content;
  max-width: 10%;
  flex-grow: 1;
}

.event-card-left-side {
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 90%;
}

.event-card-button {
  width: 100% !important;
  height: 100%;
  background-color: var(--progress-color);
  border-radius: 0 8px 8px 0;
  color: white;
  font-size: 2.5rem;
}

.event-card-button:hover {
  background-color: var(--progress-color-hover) !important;
  color: var(--primary-background) !important;
}
